* {text-align: center;
border-color: blue
}

 body {
  background-color: rgb(238, 138, 338)
}


div {background-color: center;
}

h1{
  border-style: dotted;
  border-color: blue;
}
h3{
  border-style: solid;
  border-color: blue;
}
h4{
  border-style: solid;
  border-color: blue;
}

p{ font-family: monospace;
}
div {
  color: blue;
  font-weight: bold;
  font-family:fantasy;
}
.output{font-family: monospace;
}
